$super-large: 1585px;
$large: 1400px;
$medium: 1100px;
$small: 870px;
$super-small: 630px;
$mega-small: 540px;
$hyper-small: 359px;





body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;

}

.navbar {
    font-family: 'Lato';
    background: #ffffff;
    padding-left: 50px;

    .custom-toggler1 {
        .navbar-toggler-icon {
            background-image: url(./images/toggler.png);
        }
    }

    .navbar-nav {
        flex-direction: row;
        width: fit-content;
        margin: auto;

        @media screen and (max-width: $small) {
            flex-direction: column;

        }


        .nav-link {
            margin-right: 4rem;
            margin-left: 4rem;

            @media screen and (max-width: $mega-small) {
                font-size: 2rem;
            }


        }

        .nav-link {
            display: inline-block;
            color: #fff;
            text-decoration: none;
        }

        .nav-link::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #f7becd;
            transition: width .3s;
        }

        .nav-link:hover::after {
            width: 100%;

        }

    }

    a {
        font-size: 3.25rem;
        background: -webkit-linear-gradient(rgb(245, 245, 245), rgb(73, 73, 73));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

header {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #000000;
    background-image: url(./images/auto.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px 0 90px 0;

    @media screen and(max-width: $mega-small) {
        padding: 60px 0 60px 0;
    }

    @media screen and(max-width: $hyper-small) {
        padding: 30px 0 30px 0;
    }

    .hero-container {
        margin: auto;

        h1 {
            font-family: 'Lato';
            font-size: 128px;
            font-weight: 100;
            text-align: center;
            color: #fff;

            @media screen and (max-width: $small) {
                font-size: 70px;
            }

            @media screen and (max-width: $hyper-small) {
                font-size: 60px;
            }

            @media screen and(max-width: $hyper-small) {
                font-size: 50px;
            }

            span {
                font-weight: normal;
            }
        }

        a {
            display: flex;
            width: 150px;
            height: 50px;
            margin: auto;
            font-size: 12px;
            font-weight: bold;
            font-family: 'Montserrat';
            border-radius: 50px;
            align-items: center;
            justify-content: center;
            background-color: #ea0d60;
            border: none;
        }

    }
}




.overview {
    width: 100%;
    min-height: 100vh;
    display: flex;
    font-family: 'Lato';
    padding: 90px 0 90px 0;
    background-image: url(images/background_img_1.jpg), url(images/background_img_2.jpg);
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: left bottom, right bottom 1cm;

    @media screen and (max-width: $super-large) {
        background-image: url(images/background_img_1.jpg);
        background-size: cover;
    }

    @media screen and(max-width: $mega-small) {
        padding: 60px 0 60px 0;
    }

    @media screen and(max-width: $hyper-small) {
        padding: 30px 0 30px 0;
    }



    .container {
        width: 575px;
        margin: auto;
        margin-bottom: 17rem;

        @media screen and(max-width: $small) {
            width: 500px;
            margin-bottom: 7rem;
        }

        @media screen and(max-width: $mega-small) {
            width: 300px;
            
        }


    }

    h2 {
        font-size: 62px;
        font-weight: normal;
        margin-bottom: 55px;

        @media screen and(max-width: $mega-small) {
            margin-bottom: 20px
        }

        span {
            color: #ea0d60;
        }
    }

    p {
        font-size: 21px;

        font-weight: normal;
        line-height: 40px;

        @media screen and(max-width: $small) {
            font-size: 18px;
        }

        @media screen and(max-width: $mega-small) {
            line-height: 30px
        }
    }

}

.discount {
    display: flex;
    width: 100%;
    min-height: 335px;
    background-color: #000000;
    font-family: 'Lato';
    background-image: url(images/discount-background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right bottom;

    .container {
        margin: auto;
    }

    h2 {
        font-size: 60px;
        text-align: center;
        font-weight: 300;
        color: #fff;

        @media screen and (max-width: $hyper-small) {
            font-size: 50px;
        }

        span {
            font-weight: normal;
        }
    }

    a {
        display: flex;
        width: 150px;
        height: 50px;
        margin: auto;
        font-size: 12px;
        font-weight: bold;
        font-family: 'Montserrat';
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        background-color: #ea0d60;
        border: none;
    }
}

.details {
    padding: 90px 0 90px 0;

    @media screen and(max-width: $mega-small) {
        padding: 60px 0 60px 0;
    }

    @media screen and(max-width: $hyper-small) {
        padding: 30px 0 30px 0;
    }

    .container {
        font-family: 'Lato';
        width: 575px;
        margin: auto;

        @media screen and(max-width: $small) {
            width: 380px;
        }

        @media screen and(max-width: $hyper-small) {
            width: 300px;
        }


        h2 {
            font-size: 62px;
            font-weight: normal;
            margin-bottom: 55px;

            @media screen and(max-width: $mega-small) {
                margin-bottom: 15px;
            }

            span {
                color: #ea0d60;
            }
        }

        p {
            font-size: 21px;

            font-weight: normal;
            line-height: 38px;

            @media screen and(max-width: $mega-small) {
                line-height: 30px;
            }
        }
    }

    .car-details-cont {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-top: 10rem;

        @media screen and(max-width: $mega-small) {
            padding-top: 6rem;
        }



        img {
            position: relative;

            @media screen and(max-width: $medium) {
                width: 80%;
                display: flex;
                margin: auto;
            }

            @media screen and(max-width: $small) {
                width: 60%;
            }

            @media screen and(max-width: $super-small) {
                width: auto;
                max-width: 80%;
            }

            // @media screen and(max-width: $mega-small) {
            //     width: 30%;
            // }

        }

        .w100 {
            width: 100%;
            margin-top: 10rem;

            @media screen and(max-width: $mega-small) {
                margin-top: 6rem;
            }
        }

        .car-side-text {
            position: relative;



            .line {
                width: 90px;
                height: 47px;
                border-bottom: 1px solid black;
                position: absolute;

                @media screen and(max-width: $medium) {
                    width: 50px;
                }

                @media screen and(max-width: $small) {
                    width: 30px;
                }

                @media screen and(max-width: $super-small) {
                    border: none;
                    z-index: 1;
                    position: absolute;


                }

                // @media screen and(max-width: $mega-small) {
                //     width: 13px;
                // }

                img {
                    position: absolute;
                    border-radius: 50%;
                    box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
                    transition: all 0.5s;

                    @media screen and(max-width: $super-small) {
                        box-shadow: rgba(116, 12, 29, 1) 0 0 20px;
                        width: auto !important;
                        max-width: 6rem !important;
                        position: relative;
                    }

                    @media screen and (max-width: $hyper-small) {
                        max-width: 4rem !important;
                    }

                }

                img:hover {
                    box-shadow: rgba(116, 12, 29, 1) 0 0 100px;
                    @media screen and(max-width: $super-small){
                        box-shadow: rgba(116, 12, 29, 1) 0 0 20px;
                        max-width: 7rem !important;
                    }
                    @media screen and (max-width: $hyper-small){
                        max-width: 5rem !important;
                    }

                }

            }


            .left-top {
                right: 33rem;
                bottom: 13rem;
                border-left: 1px solid black;
                height: 70px;

                @media screen and(max-width: $medium) {
                    right: 32rem;
                    bottom: 11rem;
                    height: 42px
                }

                @media screen and(max-width: $small) {
                    height: 30px;
                    right: 28.5rem;
                    bottom: 8.5rem;

                }

                @media screen and(max-width: $super-small) {
                    border: none;
                    position: absolute;
                    top: 33%;
                    left: 10%;


                }

                @media screen and (max-width: $hyper-small) {}

                img {
                    right: 6rem;
                    top: -7rem;

                    @media screen and(max-width: $medium) {
                        right: 2rem;
                        top: -7rem;
                        width: 7rem;
                    }

                    @media screen and(max-width: $small) {
                        right: 2rem;
                        top: -4.5rem;
                        width: 5rem;
                    }

                    @media screen and(max-width: $super-small) {

                        right: 0;
                        top: 0;
                        position: relative;
                    }

                    // @media screen and(max-width: $mega-small) {
                    //     right: 1rem;
                    //     top: -2rem;


                    // }
                }
            }

            .left-bottom {
                right: 33rem;
                top: 15rem;

                @media screen and(max-width: $medium) {
                    right: 32rem;
                    top: 14rem;
                }

                @media screen and(max-width: $small) {
                    right: 28.5rem;
                    top: 10rem;
                }

                @media screen and(max-width: $super-small) {
                    right: 84%;
                    top: 66%;

                }



                @media screen and(max-width: $hyper-small) {
                    right: 75%;
                    top: 64%;
                }

                img {
                    right: 6.5rem;
                    top: -2.5rem;

                    @media screen and(max-width: $medium) {
                        right: 3.5rem;
                        top: -1rem;
                        width: 7rem;
                    }

                    @media screen and(max-width: $small) {
                        width: 5rem;
                        top: 0.5rem;
                        right: 2.5rem;
                    }

                    // @media screen and(max-width: $super-small) {
                    //     width: 3rem;
                    //     top: 1.1rem;
                    //     right: 1.7rem;
                    // }

                    // @media screen and(max-width: $mega-small) {

                    //     top: 1.5rem;
                    //     right: 1rem;

                    // }
                }
            }


        }

        .right-top {
            left: 32.5rem;
            bottom: 19rem;

            @media screen and(max-width: $medium) {
                left: 31.5rem;
                bottom: 16rem;
            }

            @media screen and(max-width: $small) {
                left: 28rem;
                bottom: 12.5rem;
            }

            @media screen and(max-width: $super-small) {
                left: 60%;
                bottom: 87%;
            }

            @media screen and(max-width: $hyper-small) {
                left: 61%;
                bottom: 69%;

            }


            img {
                left: 6.5rem;
                top: -2.5rem;

                @media screen and(max-width: $medium) {
                    left: 4rem;
                    top: -1rem;
                    width: 7rem;
                }

                @media screen and(max-width: $small) {
                    width: 5rem;
                    left: 2.5rem;
                    top: 0.5rem;
                }

                // @media screen and(max-width: $super-small) {
                //     width: 3rem;
                //     left: 1.8rem;
                //     top: 1.4rem;
                // }

                // @media screen and(max-width: $mega-small) {
                //     left: 1.2rem;
                //     top: 1.4rem;

                // }
            }
        }

        .right-bottom {
            left: 32.5rem;
            top: 15rem;

            @media screen and(max-width: $medium) {
                left: 32rem;
                top: 13rem;
            }

            @media screen and(max-width: $small) {
                left: 28.5rem;
                top: 9rem;
            }

            @media screen and(max-width: $super-small) {
                left: 60%;
                top: 55%;
            }

            // @media screen and(max-width: $mega-small) {
            //     left: 19.4rem;
            //     top: 2.1rem;
            // }

            img {
                left: 6.5rem;
                top: -2.5rem;

                @media screen and(max-width: $medium) {
                    top: -1rem;
                    left: 4rem;
                    width: 7rem;
                }

                @media screen and(max-width: $small) {
                    top: 0.5rem;
                    left: 2.5rem;
                    width: 5rem;
                }

                // @media screen and(max-width: $super-small) {
                //     top: 1.3rem;
                //     left: 1.8rem;
                //     width: 3rem;
                // }

                // @media screen and(max-width: $mega-small) {
                //     left: 1.1rem;

                // }
            }
        }

        h3 {
            font-family: 'Montserrat';
            cursor: default;
            font-size: 100px;
            font-weight: bold;
            position: absolute;
            left: 5rem;
            top: -5rem;
            color: #dddddd;

            @media screen and(max-width: $medium) {
                font-size: 80px;
                left: 8.5rem;
                top: -4rem;
            }

            @media screen and(max-width: $small) {
                font-size: 62px;
                left: 10.7rem;
                top: -3rem;
            }

            @media screen and(max-width: $super-small) {
                font-size: 43px;
                left: 50%;
                transform: translateX(-50%);
            }

            @media screen and(max-width: $mega-small) {}
        }
    }

    .back {
        h3 {
            left: 8rem;

            @media screen and(max-width: $medium) {
                left: 10rem;
            }

            @media screen and(max-width: $medium) {
                left: 11.5rem;
            }

            @media screen and(max-width: $super-small) {
                font-size: 43px;
                left: 50%;
                transform: translateX(-50%);
            }


        }

        .left {
            left: -5rem;
            top: 20rem;

            @media screen and(max-width: $medium) {
                left: 1rem;
                top: 15.5rem;
            }

            @media screen and(max-width: $small) {
                left: 5.5rem;
                top: 11rem;
            }

            @media screen and(max-width: $super-small) {
                left: 32%;
                top: 54%;
            }

            @media screen and(max-width: $hyper-small) {
                top: 41%;
                left: 41%;
            }



            img {
                left: -12rem;
                top: -2rem;

                @media screen and(max-width: $medium) {
                    width: 7rem;
                    left: -7.5rem;
                    top: -1rem;
                }

                @media screen and(max-width: $small) {
                    width: 5rem;
                    left: -5.5rem;
                    top: 0rem;
                }

                // @media screen and(max-width: $super-small) {
                //     width: 3rem;
                //     left: -3.5rem;
                //     top: 1.2rem;

                // }

                // @media screen and(max-width: $mega-small) {
                //     left: -3.3rem;
                // }
            }
        }

        .right {
            right: -4rem;
            top: 7.5rem;

            @media screen and(max-width: $medium) {
                right: 1rem;
                top: 5.5rem;
            }

            @media screen and(max-width: $small) {
                right: 5.7rem;
                top: 3.5rem;
            }

            @media screen and(max-width: $super-small) {
                right: 35%;
                top: 10%;

            }

            @media screen and(max-width: $hyper-small) {
                left: 52%;
                top: 2%;
            }

            img {
                left: 6.5rem;
                bottom: -6rem;

                @media screen and(max-width: $medium) {
                    width: 7rem;
                    left: 4rem;
                    bottom: -3.5rem;
                }

                @media screen and(max-width: $small) {
                    width: 5rem;
                    left: 2.5rem;
                    bottom: -2.5rem;
                }

                // @media screen and(max-width: $super-small) {
                //     width: 3rem;
                //     left: 1.8rem;
                //     bottom: -1.5rem;
                // }

                // @media screen and(max-width: $mega-small) {
                //     left: 1.2rem;
                // }
            }
        }

        .full-spec {
            padding-top: 4rem;

            h4 {
                font-family: 'Lato';
                font-size: 16px;
                text-align: center;



                a {
                    display: inline-block;
                    color: #ea0d60;
                    text-decoration: none;
                }

                a::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: #f7becd;
                    transition: width .3s;
                }

                a:hover::after {
                    width: 100%;
                    //transition: width .3s;
                }

            }
        }
    }

}


.price {
    font-family: 'Lato';
    background-color: #000000;
    color: #fff;
    padding: 90px 0 90px 0;
    background-image: url(/images/price_background-left.jpg), url(/images/price_background-right.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left bottom, right;


    @media screen and(max-width: $large) {
        background-image: url(/images/price_background-right.jpg);
        background-size: cover;
        background-position: right;
    }

    @media screen and(max-width: $mega-small) {
        padding: 60px 0 60px 0;
    }

    @media screen and(max-width: $hyper-small) {
        padding: 30px 0 30px 0;
    }

    a {
        display: flex;
        width: 180px;
        height: 45px;
        margin: auto;
        font-size: 12px;
        font-weight: bold;
        font-family: 'Montserrat';
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        background-color: #ea0d60;
        border: none;
    }

    .container {
        width: 575px;

        @media screen and(max-width: $small) {
            width: 320px;
        }

        h2 {
            font-size: 62px;
            font-weight: normal;
            margin-bottom: 100px;

            @media screen and(max-width: $mega-small) {
                margin-bottom: 50px;
            }

            span {
                color: #ea0d60;
            }
        }

        h3 {
            text-align: center;
            line-height: 22px;
            font-weight: 100;

            span {
                font-weight: normal;
            }
        }

        p {
            color: #a30842;
            text-shadow: 0 0 0.2em #a30842, 0 0 0.2em #a30842;
            font-weight: 300;
            font-size: 120px;
            text-align: center;

            @media screen and(max-width: $small) {
                font-size: 80px;
            }
        }
    }
}

footer {
    font-family: 'Lato';
    padding: 90px 0 0 0;
    background-color: #000000;
    position: relative;
    border-top: 2px solid gray;
    

    @media screen and(max-width: $mega-small) {
        padding: 60px 0 60px 0;
    }

    @media screen and(max-width: $hyper-small) {
        padding: 30px 0 30px 0;
    }

    .row {
        max-width: 1170px;
        margin: auto;
        color: #fff;
        @media screen and (max-width: 700px) {
            display: block;
            text-align: center;
        }


        .col {
            padding-bottom: 90px;

            @media screen and (max-width: $small) {
                width: 50%;
            }
            @media screen and (max-width: 700px) {
               
                width: 100%;
                text-align: center;
                padding-bottom: 10px;
            }



            h4 {
                margin-bottom: 30px;
                font-size: 30px;
                

                @media screen and (max-width: 700px){
                    font-size: 80px;
                    margin-bottom: 10px;
                }
                @media screen and (max-width: $mega-small){
                    font-size: 40px;
                }
            }

            span {
                color: #ea0d60;
            }

            text-decoration: none;
ul{
    @media screen and (max-width: 700px){
        margin-right: 2rem;
    }

            li {
                list-style: none;

                a {
                    display: inline-block;
                    color: #fff;
                    text-decoration: none;

                    @media screen and (max-width: 700px){
                        font-size: 30px;
                    }
                    @media screen and (max-width: $mega-small){
                        font-size: 20px
                    }
                    
                }

                a::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: #f7becd;
                    transition: width .3s;
                }

                a:hover::after {
                    width: 100%;
                    //transition: width .3s;
                }

            }
        }
        }


    }
}
.copyright {
    width: auto;
    
    color: #b5b5b5;
    background: #000000;
    margin: auto;
    
    

    

    .row {
        max-width: 1300px;
        margin: auto;
        padding-left: 5rem;
        padding-right: 5rem;
        @media screen and(max-width: $super-small) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        @media screen and(max-width: $mega-small) {
            padding-left: 2px;
            padding-right: 2px;
        }

        .col {
            padding: 0;
            @media screen and (max-width: $super-small){
                flex-basis: unset;
                width: 50%;
            }

            p {
                margin-left: 3rem;
                @media screen and(max-width: $mega-small){
                    margin-left: 0;
                    width: 50%;
                }
                
            }
        }
    }

    ul {
        float: right;
        display: flex;

        li {

            list-style: none;

            a {
                margin-left: 20px;
            }
        }
    }

}