$super-large: 1585px;
$large: 1400px;
$medium: 1100px;
$small: 870px;
$super-small: 630px;
$mega-small: 540px;
$hyper-small: 359px;


.subpage-head {
    width: 100%;
    max-height: 100vh;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url(../Gallery/images/background_header-gallery.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    padding: 90px 0 90px 0;
    display: flex;
    font-family: 'Lato';

    .container {
        text-align: center;
        color: white;

        h1 {
            font-size: 84px;
            line-height: 5rem;
        
                @media screen and (max-width: $super-small){
                    font-size: 50px;
                }

            span {
                font-weight: 100;
            }
        }

        p {
            font-size: 21px;
            margin-top: 50px;
            letter-spacing: 2px;

            span {
                color: #cb0a52;
            }
        }
    }
}

.images {
    display: flex;
    padding: 90px 0 90px 0;
    font-family: 'Lato';
    // .carousel-inner{
    //     overflow: unset;
    // }
    .carousel-indicators{
        top: -6rem;
        z-index: 0;
        
        .active{
            color: #cb0a52;
        }
        
        li{
            text-indent:0;
            width: 120px;
            height: 40px;
            border:none;
            color: black;
            font-size: 21px;
            text-align: center;
            opacity: 1;
            span
            {
                color: #cb0a52;
                margin-left: 40px;
                margin-right: 40px;
                text-align: right;
            }
        }
    }
  

    .container {
        width: 1300px;
        margin: auto;
        position: relative;
        @media screen and (max-width: $small) {
            width: 100%;
            
        }

        .row {
            position: relative;
            padding: 20px;
            .col-3 {
                width: 295px;
                height: 295px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: right;
                box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
                transition: all 0.5s;
                @media screen and (max-width: 1200px){
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                @media screen and (max-width: $super-small){
                    flex: 0 0 100%;
    max-width: 100%;
                }


            }

            .a {
                background-image: url(../Gallery/images/Image1.jpg);
                z-index: 1;
            }

            .b {
                background-image: url(../Gallery/images/Image2.jpg);
                z-index: 1;
            }

            .c {
                background-image: url(../Gallery/images/Image3.jpg);
                z-index: 1;
            }

            .d {
                background-image: url(../Gallery/images/Image4.jpg);
                z-index: 1;
            }
            .col-6{
                flex: 0 0 50%;
                position: absolute;
                right: right;
                right: 0;
                max-width: 50%;
                height: 590px;
                background-image: url(../Gallery/images/Image5.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left;
                @media screen and (max-width: 1200px){
                    flex: 0 0 100%;
                    max-width: 100%;
                    position: relative;
                }
            }

            .col-3:hover {
                box-shadow: unset;
                box-shadow: 0 0 5px 2px #282a2d;
                transform: scale(1.5);
                z-index: 15;
                background-position: center;
                opacity: 1;
                @media screen and (max-width: $super-small){
                    transform: scale(1.05);
                }
            }
        }

    }

    .text-images {
        width: 50%;
        margin: auto;
        color: black;
        @media screen and (max-width: $medium){
            width: 70%;
        }

        h3 {
            font-size: 65px;
            margin-bottom: 2rem;
        }

        p {
            font-size: 21px;
            line-height: 35px;
            margin-bottom: 150px;
        }
    }

}