$super-large: 1585px;
$large: 1400px;
$medium: 1100px;
$small: 870px;
$super-small: 630px;
$mega-small: 540px;
$hyper-small: 359px;

.subpage-head {
    width: 100%;
    max-height: 100vh;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), url(/Gallery/images/background_header-gallery.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    padding: 90px 0 90px 0;
    display: flex;
    font-family: 'Lato';
    .container{
        h1{
            @media screen and (max-width: $mega-small){
                font-size: 50px;
            }
    
        }
    }
}

.calls{
    .container{
        @media screen and (max-width: $mega-small){
            margin-bottom: 4rem;
        }
        h2{
            @media screen and (max-width: $mega-small){
                font-size: 40px;
            }
            @media screen and (max-width: $hyper-small){
                font-size: 30px;
            }
    }
}
    a{
        display: flex;
        width: 150px;
        height: 50px;
        margin: auto;
        margin-top: 2rem;
        font-size: 12px;
        font-weight: bold;
        font-family: 'Montserrat';
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        background-color: #ea0d60;
        border: none;
    }

    .row{
        padding-top: 3rem;
        
        input{
            width: 100%;
            text-decoration: none;
            margin-top: 2rem;
            border: none;
            border-bottom: 2px solid #888888;
            outline: none;
            background: transparent;
        }
        input:focus{
          
            border-bottom: 2px solid #228fd8;
        }
        textarea{
            width: 100%;
            text-decoration: none;
            margin-top: 2rem;
            border: none;
            border-bottom: 2px solid #888888;
            outline: none;
            background: transparent;
        }
        textarea:focus{
            border-bottom: 2px solid #228fd8;
        }
    

    }
}
